# Logs

logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
server-dist
*.local
/.extension-state/
/src/extensions/
/registry.json
/public/r/
/coverage/
/playwright-report/
/test-results/
/.pnpm-store/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test
.env.client.dev
.env.client.prod
.env.client.test
.env.server.dev
.env.server.prod
.env.server.test
.env.e2e
.env.e2e.local

# Editor directories and files

.vscode/_
!.vscode/extensions.json
.idea
/data
.DS_Store
_.suo
_.ntvs_
_.njsproj
_.sln
\*.sw?
.nb
